/* src/App.css */
input[type="email"],
input[type="password"],
input[type="text"] {
  background: transparent;
  color: white;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder {
  color: #9ca3af;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  outline: none;
  background: transparent;
  color: white;
}

input[type="email"]:focus-visible,
input[type="password"]:focus-visible,
input[type="text"]:focus-visible {
  outline: none;
  background: transparent;
  color: white;
}
.toast {
  border-radius: 9999px !important;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2) !important;
}